<div class='static'>
  <h1>About Lebron on Skates</h1>
  <p>Lebron on Skates is a fantasy football league created in 2003 by the 'legendary' Alex Trepp, most likely thought up during a game of Mario Kart for Gamecube. Every August the owners congregate in Long Beach, NY to eat bagels, draft players, and catch up on missed opportunities to trash talk one another from the previous year. The league has done a fantastic job at keeping a close-knit circle of friends in touch, even as our lives and locations have changed.</p>
</div>
