<div class='static'>
  <h1>The Lebronstitution</h1>
  <p style='text-align:center;'>The Lebronstitution is being amended and will be posted upon completion.  We thank you for your patience.</p>
</div>
