/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

// General styles

$reddish: #dd5858;
$dark: #333333;

html, body{
		height: 100%;
}

body{
		margin: 0 auto;
		background: #EDEFF0;
		font-family: 'Open Sans', sans-serif;
}

.logo{
		text-align: center;
		font-size: 70px;
		font-weight: 700;
		color: #dd5858;
		letter-spacing: 9px;
		text-shadow: 1px 1px 1px $dark;
}

.site_header{
		margin-top: -13px;
    position: relative;
    width: 103%;
    margin-left: -14px;
}

.on{
		color: $dark;
		letter-spacing: -2px;
}

a:hover{
		text-decoration: none;
}

a, a:visited{
		color: $reddish;
}

.container{
		width: 80%;
		max-width: 1500px;
		margin: 0 auto;
		background: white;
		margin-top: 21px;
		padding-top: 0.9em;
		border-radius: 3px;
}

hr{ margin-top: 12px; }

img{ border-radius: 3px; }

ul{ list-style-type: none; }

//Remove dots under simple form asterisk.
abbr, accronym{ border-bottom: 0px!important; }

.btn.btn-default.btn-sm{
		background: white;
		border: none;
		padding: .5em 1em;
		border-radius: 3px;
		border: 1px solid $reddish;
}


input[type="submit"] {
		background: $reddish;
		border: none;
		color: white;
		padding: .5em 1em;
		border-radius: 3px;
	}

h1{ text-align: center; }

.static{
		p{
			margin-top: 36px;
			font-size: 14px;
			padding: 1em;
			width: 90%;
			margin-left: 50px;
			font-weight: 700;
		}
}

.website_author{
		text-align: center;
		font-size: 12px;
		font-weight:bold;
		padding: 18px;
}




// Site header styles
.welcome_user{
		float: right;
		margin-top: -37px;
		padding-right: 12px;
		color: $reddish;
}

.nav.nav-pills{
		font-family: 'Open Sans', sans-serif;
		background-color: $dark;
		height: 57px;
		padding: 10px;
		font-weight: 700;
		font-size: 15px;
			a{
				color: white;
			}
			a:hover{
				background: $reddish;
			}
}

.image_circular{
		border-radius: 50%;
		margin-top: -16px;
}

.dropdown{
		float: left;
		margin-right: 22px;
}

.nav.nav-pills.guest{
		background-color: $dark;
		height: 57px;
		padding: 4px;
		float: right;
		height: 30px;
		margin-top: -4px;
			a{
				color: white;
			}
			a:hover{
				background: none;
			}
}

// Home page / Post index styles
#posts{
	margin-top: -5px;
		.topic{
			line-height: 0.4em;
			padding: 3px 4px 14px 6px;
		}
		.replies{
			text-align: center;
			padding-top: 21px;
			width: 38px;
		}
		th{
			color: white;
			background: $dark;
			font-weight:normal;
		}
		th:first-child{
			width: 555px;
		}
}

#dLabel{
		font-weight:700;
			&:hover{
				color: whitesmoke;
			}
}

td, th{
		padding: 5px;
}

.create_new_thread{
		padding: .5em 1em;
		border: 1px solid $reddish;
		background-color: white;
		text-align: center;
		border-radius: 3px;
		text-decoration: none;
		float: right;
		margin-top: 3px;
		width: 15%;
			a:visited{ color: $reddish; }
	}




.user_post_options{
		float: right;
		margin-top: -1.3em;
		letter-spacing: 0.4px;
		padding-right: 10px;
}

.glyphicon.glyphicon-pushpin{
		float: left;
		margin-top: 12px;
		letter-spacing: 8px;
}

#already_voted{
		background-color: $reddish;
		color: white;
		margin-top: -7px;
}

//Post show page styles
.post_header{
		background: $dark;
		color: white;
		width: 100%;
		height: 2.5em;
		border-radius: 3px;
}

.post_created_at{
		float: left;
		padding: 7px 6px;
}

.favorites{
		float: right;
		padding: 7px 10px;
		color: $reddish;
		letter-spacing: 4px;
}


.post{
		border: 1px solid #f1f1f1;
		border-radius: 3px;
		position: relative;
		overflow: auto;
		min-height: 250px;
}

.pagination {
		display: inline-block;
		padding-left: 0;
		border-radius: 0.3em;
		margin-top: 8px;
		height: 5px;
			li a{
				color: $reddish;
			}
}

.pagination li.active a{
		background: $reddish;
		border-color: $reddish;
			&:hover{
				background: $reddish;
				border-color: $reddish;
			}
	}

.post_body{
		float: right;
		margin-top: 0.5em;
		padding:5px;
		padding-right: 1.5em;
		width:73%;
		padding-left: 1.25em;
}

.user_information{
		height: 100%;
		position: absolute;
		width: 189px;
		border-right: 1px solid #f1f1f1;
		background: #F0E3E1;
		padding: 16px 12px;
			img{
				border-radius: 3px;
			}
}

.users_post_options{
		bottom: 0;
		position: absolute;
		padding: 5px;
}

.user_listing {
		list-style: none;
		margin: 0;
		height: 130px;
		border-bottom: 1px solid #f1f1f1;
		padding-top: 8px
}

.image_float_left{
		float: left;
		padding-right: 15px;
		margin-left: 50px;
}

.right{
		float: right;
		margin-top: -34px;
		font-weight: bold;
		padding: 1em;
		width: 41%;
			a{
				color: red;
			}
}

.left a{
		font-weight: bold;
}

	//User profile//

.profile_pic{
		float: left;
		border-radius: 50%;
		margin-left: 103px;
		margin-top: 24px;
}

.profile_user_info{
		padding: 17px;
		float: left;
		margin-left: 83px;
}

	// Commments

.comment_section{
		padding-top: 1em;
		width: 106%;
		margin-left: -41px;
			textarea{
				width: 100%;
				border: 1px solid #d1d1d1;
				border-radius: 3px;
				min-height: 165px;
			}
}

//Login//

.login{
		padding: 1.5em;
		margin-left: 222px;
		border: 1px solid $dark;
		border-radius: 3px;
		position: relative;
		width: 51%;
		margin-top: 52px;
			h2{
				font-size: 26px;
				font-weight: 700;
				text-align: center;
				margin-top: 10px;
			}
			header{
				background: $dark;
				color: whitesmoke;
				position: absolute;
				width: 100%;
				height: 13%;
				margin-top: -22px;
				border-radius: 3px;
				margin-left: -21px;
			}
			form{
				margin-top: 49px;
			}
			input[type='submit']{
				width: 100%;
			}
			p{
				text-align: center;
			}
}

.new_post_form{
		padding: 1.5em;
		margin-left: 222px;
		border: 1px solid $dark;
		border-radius: 3px;
		position: relative;
		width: 51%;
		margin-top: 52px;
			input{ width: 100%; }
			textarea{
				width: 100%;
				height: 150px;
		}
}
